.TodoItem {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ICON CHECK*/
.Icon-check {
    margin-right: 5px;
    font-size: 3rem;
    color: var(--icons);
}
.Icon-check:hover{
    opacity: 0.7;
}
.Icon-check--active {
    color: #7bd07b;
}
/* TASK */
.TodoItem-p {
    width: 230px;
    min-height: 30px;
    margin: 0;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 10px;
}
.TodoItem-p--complete {
    text-decoration: line-through;
}
/* ICON DELETE */
.IconContainer {
    display: flex;
    align-items: center;
}
.Icon-delete {
    margin-left: 5px;
    font-size: 2rem;
    color: var(--icons);
}
.Icon-delete:hover {
    color: #f38282;
}
.Icon:hover {
    cursor: pointer;
}
