button {
    margin-top: 40px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
}
.buttonAdd {
    font-size: 4.5rem;
    color: var(--icons);
}
button:hover {
    cursor: pointer;
    transform: rotate(180deg);
}