* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
:root {
  --background: #002333;
  --list-no-complete: #FFFFFF;
  --list-complete: #DEEFE7;
  --icons: #159A9C;
  --titles: #B4BEC9;
}
body {
 background-color: #042d40;
}